<nav class="navbar navbar-expand-lg navbar-light bg-light"><a class="navbar-brand" href="#"> App Name  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">

  </button>
  <div id="navbarSupportedContent" class="collapse navbar-collapse">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active"><a routerLink="/dashboard" class="nav-link" routerLinkActive="active">Dashboard</a></li>

      <li class="nav-item dropdown"><a id="navbarDropdown" class="nav-link dropdown-toggle" role="button" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Actions
      </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown"><a class="dropdown-item" href="#">Action</a>
          <a class="dropdown-item" href="#">Another action</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Something else here</a>

        </div></li>
      <li class="nav-item dropdown"><a id="navbarDropdown" class="nav-link dropdown-toggle" role="button" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Reports
      </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown"><a class="dropdown-item" href="#">Action</a>
          <a class="dropdown-item" href="#">Another action</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Something else here</a>

        </div></li>

    </ul>
    <div >
      <ul class="navbar-nav my-2 my-lg-0">
        <li class="nav-item active"><a  class="nav-link" routerLink="/support" routerLinkActive="active">Support</a></li>
        <li class="nav-item active"><a class="nav-link" routerLink="/login" routerLinkActive="active">Login</a></li>
      </ul>
    </div>
  </div>
</nav>


<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
  <h1>Angular Router</h1>
  <nav>

  </nav>
  <router-outlet></router-outlet>
</div>

